<div class="jumbotron">
  <h1 class="display-4">Делись своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей</p>
  <hr class="my-4">
  
  <a class="btn btn-create " href="#" role="button">Создать Аккаунт</a>
  <a class="btn btn-primary " href="#" role="button">Войти</a>
</div>


